- @projects.each do |project|
  %td
    - unless project.approved
      %tr.border-bottom
        %td= project.project_name
        %td= project.project_content
        %td
          = form_for(:admins,  :html => { :method => :post }  ) do |fApproval|
            = fApproval.hidden_field 'projectId', :value => project.id
            = fApproval.submit 'Approval'    
      %td= link_to 'Edit', edit_project_path(project)
      %td= link_to 'Delete', project_path(project), method: :delete
      
