- @project.each do |f|
  %td
    %tr.border-bottom
      - if (!f.approved)
        %tr
          %td= f.project_name
          %td= f.project_content
          %td
            = form_for(:admins,  :html => { :method => :post }  ) do |fApproval|
              = fApproval.check_box :approval
              = fApproval.hidden_field 'projectId', :value => f.id
              = fApproval.submit 'Approval'    
        %td= link_to 'Edit', edit_project_path(f)
        %td= link_to 'Delete', project_path(f), method: :delete
