.navbar-inner
  .row
    = form_for @project do |f|
      - if @project.errors.any?
        .error_explanation
          %h2
            = pluralize(@project.errors.count, "error")
            Error!
          %ul
            - @project.errors.full_messages.each do |msg|
              %li.error_explanation= msg
      .span4
        %p Project Name
        #{f.text_field :project_name}
        %p Description: 
        #{f.text_area :project_content, :size => "20x10"}
      .span4
        %p Duration 
        #{f.text_field :duration}
        %p City 
        #{f.text_field :city}
        %p Goal 
        #{f.text_field :goal}
        %p Image 
        #{f.file_field :img_src}
        %p Tags 
        #{f.text_field :tags}
        #{f.hidden_field :user_id , :value => current_user.id}    
      .span4
        .imgproject
          = image_tag ("missing_little.png") 
          %hr
          %p
            = f.submit

         
