%center
  .headerproject
    %h2= @project.project_name 
    - @owner.each do |f|
      %p= f.name
.container
  .menu.row
    %ul.nav.nav-tabs
      %li.active
        %a Home
      %li
        %a Updates(0)
      %li
        %a Backers(0)
      %li
        %a Comments(0)
      %li
        %a=@project.city
      %li
        %a=@project.sub_category_id
  .content.container.row
    .information.span8
      .video
        .owner-video
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "281", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/69424889?portrait=0", :webkitallowfullscreen => "", :width => "500"}
        .span.button-video
      .shareproject
      .about
        .information
          %p= @project.project_content
      .risks    
        .reports
          %a.btn.btn-danger{"data-toggle" => "modal", :href => "#myModal", :role => "button"} 
            Report This Project
        .report#myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h4#myModalLabel Please select a reason for your report 
          .modal-body
          = form_for :reports ,:url => report_path ,:method => :put do |f|
            = f.radio_button :option, 'Spamming', checked: true 
            %b This project creator is spamming me. 
            Project creators are not permitted to spam. This includes sending unsolicited mass emails and unsolicited @messages on Twitter. 
            %br
            = f.radio_button :option, 'Charity Project', checked: false
            %b This is a charity project. 
            Funding for charities or causes is not permitted. This includes solicitations for charity organizations, awareness campaigns, and raising funds for personal (non-project) expenses. 
            %br
            = f.radio_button :option, 'Is not a Project', checked: false
            %b This is not a project. 
            A project is something with a clear end, like making an album, a film, or a new game. A project will eventually be completed, and something will be produced as a result.
            %br
            = f.radio_button :option, 'Prohibited Rewards', checked: false
            %b Prohibited rewards. 
            Raffles, discounts, coupons, contests, and investment offers are prohibited. For more, please review what's not allowed.
            %br
            = f.radio_button :option, 'Abusive Behavior', checked: false
            %b I see abusive behavior on this project. 
            If you see inappropriate comments or other activity, let us know.
            %br
            = f.submit
    .righaside.span4
      .statsproject
        .alinged
          .backers
            %span.num 0
            %p Bakers
          .num
            %span.num
              %p $ 00.00
          .date
            %span.num 13
            %p Days to go
          .backproject
            %a.btn.btn-success
              Back this project
              %br
              1 minimum pledge
          .banner
            %span.tiny This project will be founded if at least #{@project.goal} is pliedged by $DATE_HERE
          .creation-date
            %h5 Funding Period
            %p CREATION DATE - FINAL DATE (DAYS TO FINALITATION)
        .project-by
          .div.up
          - @owner.each do |f|
            %hr/
            -#= image_tag @owner.avatar.url
            %h5 Proect by:
            %p= f.name
            %p= f.location
          .div.down 
            .owner-stats
              %hr/
              %p number o projects and backets
            .owner-socialmedia
              %hr/
              %p Facebook and twitter
        .pledges      
  .otherprojects    

