<h1>Images#show</h1>
<p>Find me in app/views/images/show.html.erb</p>
<%= image_tag @image.image.url %>
<p>Url Normal image:<%= @image.image.url %></p>
<%= image_tag @image.image.url(:medium) %>
<p>Url Medium image:<%= @image.image.url %></p>
<%= image_tag @image.image.url(:thumb) %>
<p>Url Thumb image:<%= @image.image.url %></p>
