!!!
%html
  %head
    %title Star
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .head.container
      %ul.nav.nav-pills
        - if user_signed_in?
          Signed in as #{current_user.email}. Not you?
          %li
            \#{link_to "Sign out", destroy_user_session_path, :method => :delete}
        - else
          %li
            = link_to "Sign up", new_user_registration_path
          %li
            #{link_to "sign in", new_user_session_path}
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
    .frish.container
      = yield
